<section class="sectionn d-flex align-items-center justify-content-center ">
    <form [formGroup]="myform" (ngSubmit)="editpass(myform)">

        
        <label class="form-label mt-2">new password :</label><br>
        <input type="password" formControlName="password" aria-describedby="passwordHelpBlock ">
        <div *ngIf="myform.controls[ 'password'].invalid && myform.controls[ 'password'].touched ">
            <span>
        <p *ngIf=" myform.controls[ 'password'].errors?.['required']" class=" text-danger ">password is required</p>
        <p *ngIf="!myform.controls['password'].pristine" class=" text-danger ">password must has minLength is 8</p>
        </span>
        </div>
        <div class="form-text " *ngIf=messageerror>
            {{messageerror}}
        </div>

        <br> <button class="btn btn-primary mt-2" [disabled]="myform.invalid" type="submit ">submit</button>
    </form>

</section>