<div class="container p-5 firstsection">
    <h2 #mynum>Your Dwb Is: {{x}}</h2>
    <button (click)="getdata(mynum)" class="btn btn-primary my-3">print</button>
    <br>
    <button routerLink="/create" class=" float-end btn btn-primary my-3">Back To Create Dwb</button>
</div>
<div class="fullpolica  mt-5">
    <div class="row">
        <!--1-->
        <div class="col-sm-4 ">
            <div class=" ">
                <div class="">
                    <div class="">
                        <div class="">
                            <table class="">
                                <tr>
                                    <td class="text-center w-50" colspan="2 ">
                                        <h1>{{formdata.Origin}}</h1>
                                    </td>
                                    <td class="text-center " colspan="2 ">
                                        <img src="assets/web-logo.png " alt=" " class="w-50">
                                    </td>

                                </tr>
                                <tr class="">
                                    <td class="my-3 " colspan="2 ">
                                        <div class="d-flex flex-row mb-3">
                                            <div class="me-2 text-uppercase fw-bold">ORGN</div>
                                            <div class=""> {{formdata.Orgn}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row mb-3">
                                            <div class="me-2 text-uppercase fw-bold"> DEST</div>
                                            <div>{{formdata.Dest}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td class="my-3 " colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold"> REF</div>
                                            <div class="vll"> {{formdata.Ref}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row " colspan="2 ">
                                            <div class="me-2 text-uppercase fw-bold">PCS </div>
                                            <div class="me-2">{{formdata.pcs}}</div>
                                            <div class="me-2 text-uppercase fw-bold">WT</div>
                                            <div>{{formdata.Wt}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold "> DOX</div>
                                            <div> {{formdata.Dox}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold">TO Collect</div>
                                            <div>{{formdata.ToCollect}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td colspan="2 ">
                                        <div class="ms-1 lh-lg">
                                            <b class="text-uppercase">SENDER :</b>
                                            <br>{{formdata.SendersContactPerson}}
                                            <br>{{formdata.SendersCompany}}
                                            <br>{{formdata.SendersAddress1}}

                                            <br>PH: {{formdata.SendersMobile}}
                                        </div>


                                    </td>
                                    <td colspan="2 ">
                                        <div *ngIf="formdata" class="ms-1 lh-lg">
                                            <b class="text-uppercase">RECEIVER :</b>
                                            <br> {{formdata.ReceiversContactPerson}}
                                            <br> {{formdata.ReceiversCompany}}
                                            <br>{{formdata.ReceiversAddress1}}

                                            <br>PH: {{formdata.ReceiversMobile}},{{formdata.ReceiversPhone}} <br>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">

                                        <div class="d-flex flex-row ">
                                            <div class=" me-1 text-uppercase fw-bold ">DESCRIPTION : </div>
                                            <div> {{formdata.GoodsDescription}}</div>
                                        </div>

                                        <div class="d-flex flex-row ">
                                            <div class=" me-1 text-uppercase fw-bold ">INSTRUCTIONS : </div>
                                            <div>{{formdata.SpecialInstruction}}</div>
                                        </div>




                                    </td>

                                </tr>
                                <tr class="">
                                    <td class="text-uppercase fw-bold text-start ps-3" colspan="4 ">
                                        <div class="d-flex flex-row ">
                                            <div class="pt-2 pb-2 ps-3 pe-5">
                                                ACC# test
                                            </div>
                                            <div class="d-flex" style="height: 50px;  border:black;">
                                                <div class="vr"></div>
                                            </div>
                                            <div class="pt-2 pb-2 ps-2 pe-2">
                                                AirWayBill
                                            </div>
                                            <div class="d-flex" style="height: 50px;">
                                                <div class="vr"></div>
                                            </div>
                                            <div class="pt-2 pb-2 ps-2 ">
                                                Date:{{date}}
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="4 ">
                                        <h1 class="text-center ">{{formdata.AirWayBill}}</h1>
                                        <div class="d-flex justify-content-center">
                                            <svg class="" id="xx"></svg>
                                        </div>

                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <!--2-->
        <div class="col-sm-4 ">
            <div class=" ">
                <div class="">
                    <div class="">
                        <div class="">
                            <table class="">
                                <tr>
                                    <td class="text-center w-50" colspan="2 ">
                                        <h1>{{formdata.Origin}}</h1>
                                    </td>
                                    <td class="text-center " colspan="2 ">
                                        <img src="assets/web-logo.png " alt=" " class="w-50">
                                    </td>

                                </tr>
                                <tr class="">
                                    <td class="my-3 " colspan="2 ">
                                        <div class="d-flex flex-row mb-3">
                                            <div class="me-2 text-uppercase fw-bold">ORGN</div>
                                            <div class=""> {{formdata.Orgn}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row mb-3">
                                            <div class="me-2 text-uppercase fw-bold"> DEST</div>
                                            <div>{{formdata.Dest}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td class="my-3 " colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold"> REF</div>
                                            <div class="vll"> {{formdata.Ref}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row " colspan="2 ">
                                            <div class="me-2 text-uppercase fw-bold">PCS </div>
                                            <div class="me-2">{{formdata.pcs}}</div>
                                            <div class="me-2 text-uppercase fw-bold">WT</div>
                                            <div>{{formdata.Wt}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold "> DOX</div>
                                            <div> {{formdata.Dox}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold">TO Collect</div>
                                            <div>{{formdata.ToCollect}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td colspan="2 ">
                                        <div class="ms-1 lh-lg">
                                            <b class="text-uppercase">SENDER :</b>
                                            <br>{{formdata.SendersContactPerson}}
                                            <br>{{formdata.SendersCompany}}
                                            <br>{{formdata.SendersAddress1}}

                                            <br>PH: {{formdata.SendersMobile}}
                                        </div>


                                    </td>
                                    <td colspan="2 ">
                                        <div *ngIf="formdata" class="ms-1 lh-lg">
                                            <b class="text-uppercase">RECEIVER :</b>
                                            <br> {{formdata.ReceiversContactPerson}}
                                            <br> {{formdata.ReceiversCompany}}
                                            <br>{{formdata.ReceiversAddress1}}

                                            <br>PH: {{formdata.ReceiversMobile}},{{formdata.ReceiversPhone}} <br>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">

                                        <div class="d-flex flex-row ">
                                            <div class=" me-1 text-uppercase fw-bold ">DESCRIPTION : </div>
                                            <div> {{formdata.GoodsDescription}}</div>
                                        </div>

                                        <div class="d-flex flex-row ">
                                            <div class=" me-1 text-uppercase fw-bold ">INSTRUCTIONS : </div>
                                            <div>{{formdata.SpecialInstruction}}</div>
                                        </div>




                                    </td>

                                </tr>
                                <tr class="">
                                    <td class="text-uppercase fw-bold text-start ps-3" colspan="4 ">
                                        <div class="d-flex flex-row ">
                                            <div class="pt-2 pb-2 ps-2 pe-2">
                                                ACC# test
                                            </div>
                                            <div class="d-flex" style="height: 50px;  border:black;">
                                                <div class="vr"></div>
                                            </div>
                                            <div class="pt-2 pb-2 ps-2 pe-2">
                                                AirWayBill
                                            </div>
                                            <div class="d-flex" style="height: 50px;">
                                                <div class="vr"></div>
                                            </div>
                                            <div class="pt-2 pb-2 ps-2 ">
                                                Date:{{date}}
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="4 ">
                                        <h1 class="text-center ">{{formdata.AirWayBill}}</h1>
                                        <div class="d-flex justify-content-center">
                                            <svg class="" id="yy"></svg>
                                        </div>

                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>


            </div>

        </div>
        <!--3-->
        <div class="col-sm-4 ">
            <div class=" ">
                <div class="">
                    <div class="">
                        <div class="">
                            <table class="">
                                <tr>
                                    <td class="text-center w-50" colspan="2 ">
                                        <h1>{{formdata.Origin}}</h1>
                                    </td>
                                    <td class="text-center " colspan="2 ">
                                        <img src="assets/web-logo.png " alt=" " class="w-50">
                                    </td>

                                </tr>
                                <tr class="">
                                    <td class="my-3 " colspan="2 ">
                                        <div class="d-flex flex-row mb-3">
                                            <div class="me-2 text-uppercase fw-bold">ORGN</div>
                                            <div class=""> {{formdata.Orgn}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row mb-3">
                                            <div class="me-2 text-uppercase fw-bold"> DEST</div>
                                            <div>{{formdata.Dest}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td class="my-3 " colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold"> REF</div>
                                            <div class="vll"> {{formdata.Ref}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row " colspan="2 ">
                                            <div class="me-2 text-uppercase fw-bold">PCS </div>
                                            <div class="me-2">{{formdata.pcs}}</div>
                                            <div class="me-2 text-uppercase fw-bold">WT</div>
                                            <div>{{formdata.Wt}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold "> DOX</div>
                                            <div> {{formdata.Dox}}</div>
                                        </div>
                                    </td>

                                    <td colspan="2 ">
                                        <div class="d-flex flex-row ">
                                            <div class="me-2 text-uppercase fw-bold">TO Collect</div>
                                            <div>{{formdata.ToCollect}}</div>
                                        </div>
                                    </td>


                                </tr>
                                <tr class="">
                                    <td colspan="2 ">
                                        <div class="ms-1 lh-lg">
                                            <b class="text-uppercase">SENDER :</b>
                                            <br>{{formdata.SendersContactPerson}}
                                            <br>{{formdata.SendersCompany}}
                                            <br>{{formdata.SendersAddress1}}

                                            <br>PH: {{formdata.SendersMobile}}
                                        </div>


                                    </td>
                                    <td colspan="2 ">
                                        <div *ngIf="formdata" class="ms-1 lh-lg">
                                            <b class="text-uppercase">RECEIVER :</b>
                                            <br> {{formdata.ReceiversContactPerson}}
                                            <br> {{formdata.ReceiversCompany}}
                                            <br>{{formdata.ReceiversAddress1}}

                                            <br>PH: {{formdata.ReceiversMobile}},{{formdata.ReceiversPhone}} <br>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">

                                        <div class="d-flex flex-row ">
                                            <div class=" me-1 text-uppercase fw-bold ">DESCRIPTION : </div>
                                            <div> {{formdata.GoodsDescription}}</div>
                                        </div>

                                        <div class="d-flex flex-row ">
                                            <div class=" me-1 text-uppercase fw-bold ">INSTRUCTIONS : </div>
                                            <div>{{formdata.SpecialInstruction}}</div>
                                        </div>




                                    </td>

                                </tr>
                                <tr class="">
                                    <td class="text-uppercase fw-bold text-start ps-3" colspan="4 ">
                                        <div class="d-flex flex-row ">
                                            <div class="pt-2 pb-2 ps-2 pe-2">
                                                ACC# test
                                            </div>
                                            <div class="d-flex" style="height: 50px;  border:black;">
                                                <div class="vr"></div>
                                            </div>
                                            <div class="pt-2 pb-2 ps-2 pe-2">
                                                AirWayBill
                                            </div>
                                            <div class="d-flex" style="height: 50px;">
                                                <div class="vr"></div>
                                            </div>
                                            <div class="pt-2 pb-2 ps-2 ">
                                                Date:{{date}}
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="4 ">
                                        <h1 class="text-center ">{{formdata.AirWayBill}}</h1>
                                        <div class="d-flex justify-content-center">
                                            <svg class="" id="zz"></svg>
                                        </div>

                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <div class="d-flex flex-row-reverse mt-3">
            <div class=" me-5 pe-5 mb-3">
                <button (click)="printdwb()" class="btn mybttn w-100 ms-3 printy">PRINT</button>
            </div>
            <div>
                <button (click)="backtoform3()" class="btn mybttn w-100 ok">OK</button>
            </div>
        </div>
    </div>

</div>
